@font-face {
  font-family: "Rimma Sans";
  font-display: swap;
  src: url("../fonts/rimma_sans-bold.woff2") format("woff2"), url("../fonts/rimma_sans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rubik One";
  font-display: swap;
  src: url("../fonts/rubik_one-regular.woff2") format("woff2"), url("../fonts/rubik_one-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.h1 {
  font-family: "Rimma Sans", sans-serif;
  font-size: 74px;
  font-weight: 700;
}

.h2 {
  font-family: "Rimma Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.203;
}

.h3 {
  font-family: "Rimma Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.text {
  font-size: 18px;
}

.t-black {
  color: #000;
}

.t-white {
  color: #fff;
}

.t-blue {
  color: #2F76FF;
}

.t-green {
  color: #4FDD43;
}

.t-red {
  color: #EB001B;
}

*,
::after,
::before {
  box-sizing: border-box;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]:invalid {
  box-shadow: initialkb;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ol,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  color-scheme: light only;
}

html {
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: #1A1C20;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

body._modal-open,
body._menu-open {
  overflow: hidden;
}

body._add-scroll .wrapper {
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  vertical-align: top;
  font-family: "Rimma Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 28px;
  background: #2F76FF;
  border-radius: 3px;
  border: 1px solid #2F76FF;
  transition: 0.25s;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.btn > * {
  pointer-events: none;
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn:hover {
  background: #0047CF;
  border-color: #0047CF;
}

.btn:active {
  background: #003ba8;
  border-color: #003ba8;
}

.btn_outline {
  background: rgba(47, 118, 255, 0);
}

.btn_outline:hover {
  background: #2F76FF;
  border-color: #2F76FF;
}

.btn_outline:active {
  background: #0047CF;
  border-color: #0047CF;
}

.btn_small {
  height: 45px;
  padding: 13px 22px;
  font-size: 14px;
  line-height: 17px;
}

.btn_tg {
  padding: 0;
  width: 95px;
  height: 60px;
}

.btn_w_213 {
  max-width: 213px;
  width: 100%;
}

.btn__arrow {
  margin-left: 12px;
  transform: translateY(1px);
}

.btn__tg {
  margin-right: 15px;
  transform: translateY(1px);
}

.input-row__input {
  font-family: "Rubik One", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  width: 100%;
  min-width: auto;
  height: 60px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #666;
  background: #24272C;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 24px;
  transition: 0.2s;
}

.input-row__input:focus {
  outline: none;
}

.input-row__input::-moz-placeholder {
  opacity: 1;
  color: #C5C9E3;
}

.input-row__input::placeholder {
  opacity: 1;
  color: #C5C9E3;
}

.input-row__input._error {
  border-color: #EB001B;
}

.input-row__msg {
  display: none;
  margin: 8px 0 0;
  font-size: 14px;
}

.input-row__msg._show {
  display: block;
}

.input-row__msg._error {
  color: #EB001B;
}

.input-copy {
  width: 100%;
  position: relative;
}

.input-copy__input {
  font-family: "Rubik One", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #C5C9E3;
  width: 100%;
  min-width: auto;
  height: 60px;
  margin: 0;
  border-radius: 3px;
  border: 1px solid #666;
  background: #24272C;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 56px 0 24px;
  transition: 0.2s;
}

.input-copy__input:focus {
  outline: none;
}

.input-copy__input::-moz-placeholder {
  opacity: 1;
  color: #C5C9E3;
}

.input-copy__input::placeholder {
  opacity: 1;
  color: #C5C9E3;
}

.input-copy__btn {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  color: #2F76FF;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.25s;
  cursor: pointer;
}

.input-copy__btn:hover {
  color: #0047CF;
}

.input-copy__btn svg {
  max-width: 100%;
  max-height: 100%;
}

.input-copy__btn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  border: 1px solid #666;
  background: #24272C;
  color: #2F76FF;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  transform-origin: bottom center;
  transform: translateX(-50%) scale(0.2);
  transition: 0.25s;
}

.input-copy__btn._show-tooltip::after {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.select-box {
  display: flex;
}

select.select {
  border: none;
}

.select {
  height: 60px;
  line-height: 17px;
  padding: 20px 42px 20px 24px;
  font-size: 14px;
  border-color: #666;
  border-radius: 3px;
  background: #24272C;
}

.select:after {
  right: 24px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #D9D9D9 transparent transparent transparent;
  margin-top: -3px;
  transform: rotate(0deg);
  transform-origin: center center;
}

.select.wide {
  float: none;
}

.select.open {
  border-color: #2F76FF;
}

.select.open:after {
  transform: rotate(180deg);
}

.select .list {
  box-shadow: 0 0 0 1px #2F76FF;
  background: #24272C;
}

.select .option {
  line-height: 20px;
  padding: 10px 24px;
  white-space: normal;
}

.select .option:hover,
.select .option.focus,
.select .option.selected.focus {
  background-color: #212121;
}

.select .current {
  color: #fff;
  display: block;
  max-width: 100%;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select_placeholder:not(.select_selected) .current {
  color: #C5C9E3;
}

.select_placeholder .option:first-child {
  display: none;
}

.tabs-style {
  display: flex;
  overflow: auto;
  margin-bottom: 30px;
}

.tabs-style__outer {
  min-width: 100%;
  display: flex;
}

.tabs-style__inner {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
  min-width: 100%;
}

.tabs-style__inner::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.tabs-style__item {
  display: block;
  flex-shrink: 0;
  text-align: center;
  font-family: "Rimma Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  white-space: nowrap;
  padding: 0 30px 22px;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.tabs-style__item:last-child {
  margin: 0;
}

.tabs-style__item:hover {
  color: #2F76FF;
}

.tabs-style__item._active {
  color: #2F76FF;
}

.tabs-style__item._active::before {
  width: 100%;
  right: auto;
  left: 0;
}

.tabs-style__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background: #2F76FF;
  transition: 0.25s width;
}

.js-tab-content {
  display: none;
}

.js-tab-content._active {
  display: block;
}

.card-box {
  border-radius: 60px;
  border: 1px solid #666;
  background: #24272C;
  padding: 39px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  display: none;
  z-index: 500;
}

.modal._active {
  display: block;
}

.modal__outer {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.modal__inner {
  position: relative;
  max-width: 652px;
  width: 100%;
  padding: 59px 49px;
  border-radius: 40px;
  border: 1px solid #666;
  background: #24272C;
}

.modal__close {
  position: absolute;
  top: 29px;
  right: 29px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.25s;
  color: #fff;
}

.modal__close:hover {
  color: #2F76FF;
}

.modal__close:after,
.modal__close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  transform: rotate(-45deg);
  width: 31px;
  height: 2px;
  background: currentColor;
}

.modal__close::after {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}

.modal__title {
  font-family: "Rimma Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 15px;
}

.modal__text {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal__row + .modal__row {
  margin-top: 25px;
}

.modal__btns {
  margin-top: 25px;
}

.modal-sign__sign,
.modal-sign__forgot-pass {
  color: #2F76FF;
}

.modal-sign__sign:hover,
.modal-sign__forgot-pass:hover {
  color: #0047CF;
}

.modal-sign__forgot {
  margin-top: 15px;
  text-align: right;
}

.modal-sign__forgot-pass {
  font-size: 18px;
}

.header {
  padding: 14px 0;
  height: 102px;
  position: relative;
}

.header_default {
  padding-bottom: 13px;
  border-bottom: 1px solid #666;
  background: #24272C;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo img {
  max-height: 74px;
  max-width: 192px;
}

.header__language {
  margin-left: 26px;
}

.header__tg {
  display: none;
  margin-left: 26px;
}

.header__tg-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #2F76FF;
}

.header__tg-link:hover {
  color: #0047CF;
}

.header__profile {
  margin-left: 26px;
}

.header__menu {
  margin-left: 26px;
}

.header__tg,
.header__logo,
.header__language,
.header__profile {
  position: relative;
  z-index: 0;
  transition: z-index 0.75s cubic-bezier(1, 0, 1, 0);
}

body._menu-open .header__tg,
body._menu-open .header__logo,
body._menu-open .header__language,
body._menu-open .header__profile {
  z-index: 201;
  transition: none;
}

.header-language {
  padding: 13px 0;
  font-family: "Rimma Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  position: relative;
}

.header-language:hover .header-language__drop {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(-50%);
}

.header-language:hover .header-language__btn::after {
  transform: rotate(180deg);
}

.header-language__btn {
  cursor: default;
  position: relative;
  display: flex;
  align-items: center;
}

.header-language__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4px 0 4px;
  border-color: #D9D9D9 transparent transparent;
  transition: 0.25s;
  margin: 4px 0 0 7px;
}

.header-language__drop {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7) translateX(-50%);
  transform-origin: top left;
  transition: 0.25s;
  padding-top: 6px;
}

.header-language__drop-list {
  padding: 13px 0px 18px;
  border-radius: 20px;
  border: 1px solid #666;
  background: #24272C;
}

.header-language__link {
  display: flex;
  padding: 3px 20px;
}

.header-language__link:hover {
  color: #2F76FF;
}

.header-profile {
  display: flex;
  align-items: center;
}

.header-profile__signup {
  margin-right: 27px;
}

.header-profile__signin-mobile {
  display: none;
  align-items: center;
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  color: #2F76FF;
}

.header-profile__signin-mobile:hover {
  color: #0047CF;
}

.header-profile__profile {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 41px;
  height: 41px;
  color: #2F76FF;
}

.header-profile__profile:hover {
  color: #0047CF;
}

.header-menu._active .header-menu__menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  pointer-events: auto;
}

.header-menu._active .header-menu__btn {
  z-index: 201;
  transition: none;
}

.header-menu__btn {
  display: flex;
  font-family: "Rimma Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
  padding: 6px 54px 0 0;
  position: relative;
  z-index: 0;
  height: 34px;
  flex-shrink: 0;
  cursor: pointer;
  transition: z-index 0.75s cubic-bezier(1, 0, 1, 0);
}

.header-menu__btn span {
  display: block;
  width: 47px;
  height: 2px;
  position: absolute;
  right: 0;
  background: #fff;
  transition-duration: 0.35s;
}

.header-menu__btn span:nth-last-child(2) {
  top: calc(50% - 6px);
}

.header-menu__btn span:nth-last-child(1) {
  top: calc(50% + 6px);
}

.header-menu__btn:hover span {
  background: #2F76FF;
}

.header-menu__btn:hover span:nth-last-child(2),
.header-menu__btn:hover span:nth-last-child(1) {
  transform: rotate(-4deg);
}

.header-menu__btn._active span:nth-last-child(2) {
  top: calc(50% + 1px);
  transform: rotate(-45deg);
}

.header-menu__btn._active span:nth-last-child(1) {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}

.header-menu__btn._active:hover span:nth-last-child(2) {
  transform: rotate(-49deg);
}

.header-menu__btn._active:hover span:nth-last-child(1) {
  transform: rotate(41deg);
}

.header-menu__menu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: -webkit-fill-available;
  background: #24272C;
  opacity: 0;
  visibility: 0;
  filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  pointer-events: none;
  transition: opacity 0.4s ease, filter 0.4s ease;
}

.header-menu__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 102px;
}

.header-menu__body {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu__nav {
  text-align: center;
}

.header-menu__nav-item {
  margin-bottom: 49px;
}

.header-menu__nav-item:last-child {
  margin-bottom: 0;
}

.header-menu__nav-link {
  font-family: "Rimma Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.header-menu__nav-link:hover {
  color: #2F76FF;
}

.header-menu__footer {
  padding: 30px 0 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__contacts {
  display: flex;
  flex-direction: column;
}

.header-menu__contact {
  font-family: "Rubik One", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #C5C9E3;
  margin-bottom: 9px;
}

.header-menu__contact:hover {
  color: #2F76FF;
}

.header-menu__contact:last-child {
  margin-bottom: 0;
}

.header-menu__language {
  display: none;
}

.header-menu__language-link {
  font-family: "Rimma Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: 24px;
}

.header-menu__language-link._active {
  color: #2F76FF;
}

.header-menu__language-link:last-child {
  margin: 0;
}

.footer {
  background: #212121;
  padding: 40px 0 70px;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  margin: 0 40px;
}

.footer__logo {
  display: flex;
}

.footer__logo img {
  max-width: 193px;
}

.footer-nav {
  display: flex;
}

.footer-nav__cell {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
}

.footer-nav__cell:last-child {
  margin: 0;
}

.footer-nav__link {
  font-size: 16px;
  color: #C5C9E3;
  margin-bottom: 9px;
}

.footer-nav__link:hover {
  color: #2F76FF;
}

.footer-nav__link:last-child {
  margin: 0;
}

.hero {
  margin-top: -102px;
  padding: 195px 0 307px;
  position: relative;
  pointer-events: none;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 1108px;
  background: url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  pointer-events: none;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
  pointer-events: auto;
}

.hero__title {
  max-width: 946px;
  margin-bottom: 40px;
}

.hero__shark {
  position: absolute;
  display: block;
  top: 144px;
  left: 500px;
  width: 926px;
  pointer-events: none;
}

.hero__right {
  margin-top: -40px;
}

.hero-btn {
  width: 250px;
  height: 240px;
  position: relative;
}

.hero-btn__btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.35s;
  color: #2F76FF;
}

.hero-btn__btn:hover {
  color: #0047CF;
}

.hero-btn__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 240px;
  pointer-events: none;
}

.about__inner {
  position: relative;
}

.about__ellipse {
  position: absolute;
  top: 202px;
  left: -169px;
  display: block;
  width: 240px;
  pointer-events: none;
}

.about__title {
  margin-bottom: 70px;
}

.about__list {
  padding-left: 71px;
  display: flex;
  font-size: 18px;
}

.about__item {
  display: flex;
  max-width: 420px;
  width: 100%;
  margin-right: 36px;
  padding-left: 28px;
  position: relative;
}

.about__item:last-child {
  margin: 0;
}

.about__item::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: 0;
  width: 12px;
  border-radius: 3px;
  background: #2F76FF;
}

.about__text {
  margin-top: 70px;
  padding-left: 103px;
  font-family: "Rimma Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.we-offer {
  margin-top: 161px;
}

.we-offer-box {
  padding: 35px 50px 55px;
  position: relative;
}

.we-offer-box__label {
  position: absolute;
  top: -25px;
  right: -52px;
  transform: rotate(10deg);
  background: #2F76FF;
  border-radius: 60px;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.4);
  font-family: "Rimma Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  padding: 12px 31px;
}

.we-offer-box__title {
  margin-bottom: 50px;
}

.we-offer-box__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.we-offer-box__left {
  max-width: 790px;
  margin-right: 20px;
}

.we-offer-box__right {
  padding: 10px;
}

.we-offer-box__img {
  max-width: 188px;
}

.we-offer-box__text {
  margin-bottom: 40px;
}

.we-offer-box__list li {
  display: flex;
  margin-bottom: 20px;
}

.we-offer-box__list li::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 0C6.3 0 0 6.3 0 14C0 21.7 6.3 28 14 28C21.7 28 28 21.7 28 14C28 6.3 21.7 0 14 0ZM11.2 21L4.2 14L6.16 12.04L11.2 17.08L21.84 6.43997L23.8 8.39997L11.2 21Z' fill='%232F76FF'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.we-offer-box__list li:last-child {
  margin-bottom: 0;
}

.we-offer2 {
  margin-top: 150px;
}

.we-offer2__inner {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.we-offer2__title {
  max-width: 890px;
  flex: 1;
  margin-right: 20px;
}

.we-offer2__text {
  font-size: 20px;
  padding: 2px 0;
  white-space: nowrap;
}

.we-offer2__ellipse {
  position: absolute;
  display: block;
  top: -55px;
  right: 20px;
  width: 94px;
  pointer-events: none;
}

.offer-list {
  width: 100%;
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  cursor: grab;
}

.offer-list._active {
  cursor: grabbing;
}

.offer-list::-webkit-scrollbar {
  display: none;
}

.offer-list__inner {
  display: flex;
  flex-shrink: 0;
  padding: 0 20px;
}

.offer-item {
  padding: 90px 39px 39px;
  border-radius: 50px;
  border: 1px solid #666;
  background: #24272C;
  width: 380px;
  min-height: 287px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-right: 30px;
}

.offer-item__inner {
  max-width: 280px;
}

.offer-item:last-child {
  margin: 0;
}

.offer-item::before {
  content: "";
  position: absolute;
  top: 39px;
  left: 39px;
  display: block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0C9 0 0 9 0 20C0 31 9 40 20 40C31 40 40 31 40 20C40 9 31 0 20 0ZM16 29.9999L6 19.9999L8.8 17.1999L16 24.3999L31.2 9.19992L34 11.9999L16 29.9999Z' fill='%232F76FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.start {
  padding: 180px 0 386px;
  position: relative;
}

.start::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 917px;
  background: url(../images/start-bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  pointer-events: none;
}

.start__inner {
  position: relative;
}

.start__shark {
  position: absolute;
  display: block;
  top: 231px;
  left: 490px;
  width: 692px;
  pointer-events: none;
}

.start__ellipse {
  position: absolute;
  display: block;
  top: 184px;
  right: 20px;
  width: 111px;
  pointer-events: none;
}

.start__title {
  margin-bottom: 32px;
}

.terms {
  margin-top: -102px;
  padding: 195px 0 150px;
  min-height: 804px;
  background: url(../images/terms-bg.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.terms__inner {
  position: relative;
}

.terms__title {
  margin-bottom: 60px;
}

.terms__ellipse {
  position: absolute;
  display: block;
  top: 234px;
  right: 20px;
  width: 94px;
  pointer-events: none;
}

.terms__ellipse2 {
  position: absolute;
  display: block;
  top: 242px;
  right: 15px;
  width: 111px;
  pointer-events: none;
}

.terms__content {
  padding-left: 76px;
}

.terms__text {
  max-width: 646px;
  font-size: 18px;
  position: relative;
  padding-left: 28px;
  margin-bottom: 60px;
}

.terms__text::before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: 0;
  width: 12px;
  border-radius: 3px;
  background: #2f76ff;
}

.dashboard {
  margin: 90px 0;
}

.balances-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 30px;
}

.box-dashboard {
  border-radius: 40px;
  border: 1px solid #666;
  background: #24272C;
  padding: 39px 49px;
}

.box-dashboard__head {
  margin-bottom: 30px;
}

.box-dashboard__title {
  font-family: "Rimma Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.box-dashboard__text {
  font-size: 18px;
  margin-top: 15px;
}

.box-balance__title {
  margin-bottom: 30px;
}

.box-balance__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}

.box-balance__label {
  font-size: 14px;
  color: #C5C9E3;
}

.box-balance__value {
  font-family: "Rimma Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.box-balance__btns {
  margin-top: 30px;
}

.box-balance__btn {
  margin-right: 30px;
}

.box-balance__btn:last-child {
  margin: 0;
}

.box-balance__row + .box-balance__row {
  margin-top: 30px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th {
  font-size: 14px;
  color: #C5C9E3;
  text-align: left;
  padding-bottom: 14px;
}

.dashboard-table tr {
  border-bottom: 1px solid #60678A;
}

.dashboard-table tbody tr:last-child {
  border: none;
}

.dashboard-table tbody tr:last-child td {
  padding-bottom: 0;
}

.dashboard-table td {
  font-size: 16px;
  padding: 14px 0;
}

.dashboard-table th,
.dashboard-table td {
  padding-right: 20px;
}

.dashboard-table th:last-child,
.dashboard-table td:last-child {
  padding-right: 0;
}

.dashboard-table__empty {
  display: none;
}

.dashboard-table__empty td {
  text-align: center;
}

.dashboard-table_available th:first-child,
.dashboard-table_available td:first-child {
  width: 100%;
}

.dashboard-table_available th:nth-child(2),
.dashboard-table_available td:nth-child(2) {
  min-width: 150px;
}

.dashboard-table_available th:nth-child(3),
.dashboard-table_available td:nth-child(3) {
  min-width: 130px;
}

.dashboard-table_generation th:first-child,
.dashboard-table_generation td:first-child {
  width: 100%;
}

.dashboard-table_generation th:nth-child(2),
.dashboard-table_generation td:nth-child(2) {
  min-width: 270px;
}

.dashboard-table_generation th:nth-child(3),
.dashboard-table_generation td:nth-child(3) {
  min-width: 130px;
}

.generation {
  margin-bottom: 50px;
}

.generation__select {
  margin-bottom: 30px;
}

.box-ref__title {
  margin-bottom: 15px;
}

.payment-systems {
  margin: 90px 0 120px;
}

.payment-systems__title {
  margin-bottom: 25px;
}

.payment-systems__text {
  margin-bottom: 30px;
}

.payment-systems__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.payment-system {
  border-radius: 40px;
  border: 1px solid #666;
  background: #24272C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 184px;
  padding: 30px;
}

.payment-system img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 1241px) {
  .offer-list__inner {
    padding: 0 calc((100% - 1200px) / 2);
  }
}

@media screen and (max-width: 1240px) {
  .tabs-style {
    margin-right: -20px;
    margin-left: -20px;
  }

  .tabs-style__outer {
    flex-shrink: 0;
    padding: 0 20px;
  }

  .we-offer-box__label {
    right: -20px;
  }
}

@media screen and (max-width: 1199px) {
  .h1 {
    font-size: 58px;
  }

  .h2 {
    font-size: 52px;
  }

  .header-menu__nav-link {
    font-size: 28px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__nav {
    margin: 0 20px 0 0;
    width: calc(100% - 20px - 95px);
  }

  .hero__shark {
    top: 145px;
    left: 350px;
  }

  .we-offer-box__right {
    padding: 10px 0;
  }

  .we-offer2__title {
    max-width: 750px;
  }

  .start__title {
    max-width: 900px;
  }

  .start__shark {
    top: 190px;
  }

  .box-dashboard {
    padding: 39px 39px;
  }
}

@media screen and (max-width: 1023px) {
  .start__ellipse {
    top: -80px;
  }

  .start__shark {
    left: 420px;
  }
}

@media screen and (max-width: 991px) {
  .h2 {
    font-size: 40px;
  }

  .header__tg {
    display: block;
  }

  .header-profile__signup,
  .header-profile__signin {
    display: none;
  }

  .header-profile__signin-mobile {
    display: flex;
  }

  .header-menu__nav-link {
    font-size: 24px;
  }

  .footer-nav {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .footer-nav__cell {
    width: calc(50% - 20px);
    margin-right: 0;
  }

  .footer-nav__cell:first-child {
    margin-right: 40px;
  }

  .footer-nav__cell:last-child {
    width: 100%;
    margin: 35px 105px 0 0;
  }

  .footer-nav__cell:last-child .footer-nav__link {
    color: #fff;
  }

  .footer-nav__cell:last-child .footer-nav__link:hover {
    color: #2F76FF;
  }

  .footer__inner {
    position: relative;
  }

  .footer__tg {
    position: absolute;
    right: 0;
    bottom: -4px;
  }

  .hero {
    padding-top: 140px;
    padding-bottom: 290px;
  }

  .hero__right {
    display: none;
  }

  .hero__shark {
    top: 190px;
    left: 250px;
    max-width: 728px;
    width: 100%;
  }

  .about__text {
    font-size: 30px;
  }

  .we-offer2__text {
    font-size: 14px;
  }

  .offer-item {
    min-height: 240px;
  }

  .terms {
    padding: 170px 0 130px;
    min-height: 686px;
  }

  .terms__title {
    font-size: 42px;
  }

  .terms__content {
    padding-left: 30px;
  }

  .terms__text {
    font-size: 16px;
  }

  .terms__ellipse,
  .terms__ellipse2 {
    top: auto;
    bottom: -10px;
  }

  .balances-grid {
    grid-template-columns: 100%;
  }

  .dashboard-table_generation th:nth-child(2),
  .dashboard-table_generation td:nth-child(2) {
    min-width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 30px;
  }

  .text {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }

  .btn_small {
    font-size: 14px;
  }

  .input-copy__input {
    font-size: 12px;
  }

  .tabs-style {
    margin-right: 0;
    margin-left: 0;
  }

  .tabs-style__outer {
    padding: 0;
  }

  .tabs-style__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs-style__inner::before {
    left: 2px;
    width: 1px;
    height: 100%;
  }

  .tabs-style__item {
    padding: 9px 26px 8px;
    margin-bottom: 3px;
  }

  .tabs-style__item:hover {
    color: #2F76FF;
  }

  .tabs-style__item._active {
    color: #2F76FF;
  }

  .tabs-style__item._active::before {
    width: 5px;
    top: 0;
    bottom: 0;
    transform: scale(1);
  }

  .tabs-style__item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    width: 5px;
    height: 100%;
    transform: scale(0);
    transform-origin: left center;
    transition: 0.25s;
  }

  .modal__inner {
    max-width: 400px;
    padding: 25px 19px 35px;
    border-radius: 20px;
  }

  .modal__close {
    top: 9px;
    right: 11px;
  }

  .modal__title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .modal__text {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .modal-sign__forgot {
    margin-top: 15px;
    text-align: left;
  }

  .modal-sign__forgot + .modal__btns {
    margin-top: 18px;
  }

  .modal-sign__forgot-pass {
    font-size: 16px;
  }

  .modal-sign__btn {
    max-width: 100%;
    width: 100%;
  }

  .header {
    height: 71px;
    padding: 13px 0;
  }

  .header_default {
    border-bottom: none;
    background: none;
  }

  .header__logo img {
    max-width: 118px;
  }

  .header__language {
    display: none;
  }

  .header__tg,
  .header__profile,
  .header__menu {
    margin-left: 22px;
  }

  .header-profile__profile {
    width: 33px;
    height: 33px;
  }

  .header-menu__menu {
    background: #1A1C20;
  }

  .header-menu__nav-item {
    margin-bottom: 30px;
  }

  .header-menu__nav-link {
    font-size: 22px;
  }

  .header-menu__btn {
    padding-right: 47px;
  }

  .header-menu__btn-text {
    display: none;
  }

  .header-menu__footer {
    flex-direction: column;
  }

  .header-menu__contacts {
    align-items: center;
    text-align: center;
    margin-bottom: 18px;
  }

  .header-menu__tg {
    display: none;
  }

  .header-menu__language {
    display: flex;
  }

  .footer {
    padding: 20px 0 40px;
  }

  .footer__logo img {
    max-width: 118px;
  }

  .footer-nav__cell {
    width: 100%;
  }

  .footer-nav__cell:first-child {
    margin: 0 0 9px;
  }

  .hero {
    margin-top: -71px;
    padding-top: 88px;
    padding-bottom: 460px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__shark {
    top: 100%;
    left: 0;
    max-width: 666px;
    width: 666px;
  }

  .hero__btn {
    width: 100%;
    max-width: 100%;
  }

  .about__ellipse {
    display: none;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__list {
    padding: 0;
    flex-direction: column;
  }

  .about__item {
    padding-left: 16px;
    margin: 0 0 20px 0;
    font-size: 16px;
  }

  .about__item::before {
    top: 0;
    bottom: 0;
    width: 6px;
  }

  .about__text {
    padding-left: 0;
    margin-top: 45px;
  }

  .we-offer {
    margin-top: 80px;
  }

  .we-offer-box {
    border-radius: 40px;
    padding: 34px 19px 29px;
  }

  .we-offer-box__label {
    transform: none;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 27px 11px;
    right: -8px;
  }

  .we-offer-box__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .we-offer-box__content {
    font-size: 16px;
    align-items: stretch;
    flex-direction: column;
  }

  .we-offer-box__text {
    margin-bottom: 20px;
  }

  .we-offer-box__list li::before {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .we-offer-box__left {
    margin: 0 0 20px 0;
  }

  .we-offer-box__right {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .we-offer-box__img {
    max-width: 138px;
  }

  .we-offer2 {
    margin-top: 80px;
  }

  .we-offer2__ellipse {
    display: none;
  }

  .we-offer2__inner {
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .we-offer2__text {
    font-size: 20px;
    padding: 0;
    white-space: normal;
  }

  .we-offer2__title {
    margin: 0 0 15px;
  }

  .offer-list__inner {
    width: 100%;
    flex-direction: column;
  }

  .offer-item {
    padding: 75px 19px 24px;
    min-height: auto;
    width: 100%;
    border-radius: 40px;
    margin: 0 0 20px 0;
  }

  .offer-item::before {
    top: 19px;
    left: 19px;
    width: 25px;
    height: 35px;
  }

  .start {
    padding-top: 80px;
    padding-bottom: 383px;
  }

  .start__ellipse {
    width: 65px;
    top: -41px;
    right: 8px;
  }

  .start__btn {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .start__shark {
    top: calc(100% + 20px);
    left: 0;
    max-width: 508px;
    width: 508px;
  }

  .terms {
    margin-top: -71px;
    padding: 88px 0 158px;
    min-height: 590px;
    background-size: auto max(804px, 100%);
  }

  .terms__title {
    font-size: 29px;
    margin-bottom: 20px;
  }

  .terms__content {
    padding-left: 0;
  }

  .terms__text {
    margin-bottom: 20px;
    padding-left: 16px;
  }

  .terms__text::before {
    top: 0;
    bottom: auto;
    height: 100%;
    max-height: 78px;
    width: 6px;
  }

  .terms__ellipse,
  .terms__ellipse2 {
    display: none;
  }

  .terms__btn {
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .dashboard {
    margin: 30px 0 50px;
  }

  .balances-grid {
    gap: 20px 20px;
  }

  .box-dashboard {
    border-radius: 30px;
    padding: 29px 19px;
  }

  .box-dashboard__text {
    font-size: 14px;
  }

  .box-balance__btn {
    margin: 0 0 14px 0;
    width: 100%;
  }

  .box-balance__grid {
    grid-template-columns: 100%;
  }

  .box-balance__row + .box-balance__row {
    margin-top: 20px;
  }

  .generation__select {
    margin-bottom: 20px;
  }

  .generation__btn {
    width: 100%;
  }

  .box-ref__title {
    margin-right: -10px;
  }

  .box-ref__head {
    margin-bottom: 20px;
  }

  .dashboard-table {
    display: block;
  }

  .dashboard-table thead {
    display: none;
  }

  .dashboard-table tbody,
  .dashboard-table tr,
  .dashboard-table td {
    display: block;
  }

  .dashboard-table tr {
    padding: 14px 0;
  }

  .dashboard-table tr:first-child {
    padding-top: 0;
  }

  .dashboard-table td {
    font-size: 14px;
    padding: 0;
    margin-bottom: 5px;
  }

  .dashboard-table td:last-child {
    margin-bottom: 0;
  }

  .dashboard-table td:first-child {
    font-size: 16px;
    color: #fff;
  }

  .dashboard-table td[data-td-label]::before {
    content: attr(data-td-label) " ";
    color: #C5C9E3;
  }

  .dashboard-table tbody .dashboard-table__empty {
    display: block;
    color: #C5C9E3;
  }

  .dashboard-table tbody tr ~ .dashboard-table__empty {
    display: none;
  }

  .dashboard-table_available th:first-child,
  .dashboard-table_available th:nth-child(2),
  .dashboard-table_available th:nth-child(3),
  .dashboard-table_available td:first-child,
  .dashboard-table_available td:nth-child(2),
  .dashboard-table_available td:nth-child(3) {
    min-width: auto;
    width: 100%;
  }

  .dashboard-table_generation th:first-child,
  .dashboard-table_generation th:nth-child(2),
  .dashboard-table_generation th:nth-child(3),
  .dashboard-table_generation td:first-child,
  .dashboard-table_generation td:nth-child(2),
  .dashboard-table_generation td:nth-child(3) {
    min-width: auto;
    width: 100%;
  }

  .payment-systems {
    margin: 30px 0 100px;
  }

  .payment-systems__title {
    margin-bottom: 10px;
  }

  .payment-systems__text {
    margin-bottom: 20px;
  }

  .payment-systems__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .payment-system {
    height: 160px;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 479px) {
  .payment-system {
    height: 116px;
    padding: 20px 30px;
  }

  .payment-system_visa img {
    max-width: 142px;
  }

  .payment-system_mc img {
    max-width: 95px;
  }

  .payment-system_tether img {
    max-width: 69px;
  }
}